{% extends 'base.html.twig' %} {%block title%}Sol Ecologique - tuto{%endblock%}
{% block content %}
<div class="container">
    <p>
        <small class="text-muted">Pré-requis pour création d'une fiche produit :
          <ul>
            <li>
              une ou plusieurs images de l’article, taille recommandée 800x800px,
              format jpg, gif ou png
            </li>
            <li>
              Le prix d’achat, prix de vente au m2 le cas échéant, la surface au
              paquet (pour calcul prix au paquet)
            </li>
            <li>la référence de chaque déclinaison de l’article</li>
          </ul>
        </small>
      </p>
      <!-- Card Début -->
      <div class="card mb-3">
        <div class="card-header">Tableau de Bord</div>
        <div class="row g-0">
          <div class="col-md-8">
            <img
              src="/images/sol-eco/fiche-produit/076-Tableau-sol-ecologique.png"
              class="img-fluid rounded-start"
              alt="tableau de bord"
            />
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">Accéder au Catalogue</h5>
              <p class="card-text">
                Sélectionner "Produits" dans la colonne gauche
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN Card -->
    
      <!-- Card Début -->
      <div class="card mb-3">
        <div class="card-header">Liste produits</div>
        <div class="row g-0">
          <div class="col-md-8">
            <img
              src="/images/sol-eco/fiche-produit/078-Produits-sol-eco.png"
              class="img-fluid rounded-start"
              alt="liste produits"
            />
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">Ajouter un produit au Catalogue</h5>
              <p class="card-text">
                Sélectionner "Nouveau produit" en haut à droite
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN Card -->
    
      <!-- Card Début -->
      <div class="card mb-3">
        <div class="card-header">Compléter la fiche</div>
        <div class="row g-0">
          <div class="col-md-8">
            <img
              src="images/sol-eco/fiche-produit/080-Produits-sol-eco.png"
              class="img-fluid rounded-start"
              alt="liste produits"
            />
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <ul>
                </li>
                <li>
                  <p class="card-text">
                    cocher "Produit avec déclinaisons" à droite
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN Card -->
    
      <!-- Card Début -->
      <div class="card mb-3">
        <div class="card-header">Compléter la fiche</div>
        <div class="row g-0">
          <div class="col-md-8">
            <img
              src="/images/sol-eco/fiche-produit/088-Produits-sol-eco.png"
              class="img-fluid rounded-start"
              alt="liste produits"
            />
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <ul>
                <li>
                  <p class="card-text">
                    "Saisissez le nom de votre produit" en haut
                  </p>
                <li>
                  <p class="card-text">
                    Déposer glisser la ou les images sur "Déposez vos images ici" au
                    centre (picto appareil photo)
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN Card -->
    
      <!-- Card Début -->
      <div class="card mb-3">
        <div class="card-header">Compléter la fiche</div>
        <div class="row g-0">
          <div class="col-md-8">
            <img
              src="/images/sol-eco/fiche-produit/089-Produits-sol-ecologique.png"
              class="img-fluid rounded-start"
              alt="liste produits"
            />
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <ul>
                <li>
                  <p class="card-text">
                    Redisposer les images dans le bonne ordre si nécessaire
                  </p>
                </li>
                <li>
                  <p class="card-text">
                    Sélectionner l'image que vous souhaitez mettre en couverture, un
                    champs apparait pour sélectionner l'image de couverture, cocher
                    "image de couverture" et enregistrer juste en dessous de
                    "légende"
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN Card -->
    
      <!-- Card Début -->
      <div class="card mb-3">
        <div class="card-header">Conditionnement pour affichage détails front</div>
        <div class="row g-0">
          <div class="col-md-8">
            <img
              src="/images/sol-eco/fiche-produit/090-Produits-sol-ecologique.png"
              class="img-fluid rounded-start"
              alt="liste produits"
            />
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <ul>
                <li>
                  <p class="card-text">
                    Renseigner le conditionnement si vente autre que par unité (exemple : le m2 ou le litre ...) 
                    <p><small class="text-muted">Pour info, le texte de ce champs va s'afficher sur la fiche détaillée du produit en front-office</small></p>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN Card -->
</div>
{% endblock %}